.navbar {
    background-color: #343a40; 
    padding: 10px 0; /* Padding on top and bottom */
    border-bottom: 2px solid #28a745; /* Green border at the bottom */
  }
  
  .navbar-brand {
    color: #28a745 !important; /* Green text for the brand */
    font-size: 1.5rem; /* Adjust the font size */
  }
  
  .navbar-toggler-icon {
    background-color: #28a745; 
  }
  
  .navbar-nav .nav-link {
    color:  #28a745 !important; /* White text for navigation links */
    margin-right: 250px; 
    margin-left: -240px;
  }
  
  /* Dropdown styles */
  .navbar-nav .nav-item .nav-link:hover,
  .navbar-nav .nav-item .nav-link:focus,
  .navbar-nav .nav-item .nav-link:active {
    background-color: #000000; /* Green background on hover/focus */
  }
  
  .navbar-nav .nav-item .nav-link,
  .navbar-nav .nav-item .dropdown-item {
    color: #28a745 !important; 
  }
  
  /* Button styles */
  #sign {
    background-color: #28a745; /* Green background color for buttons */
    color: #fff; /* White text color for buttons */
    border: none; /* Remove button border */
    padding: 8px 15px; /* Adjust padding */
    margin-right: 10px; /* Adjust margin */
    cursor: pointer; /* Add pointer cursor on hover */
  }
  
  #sign:hover {
    background-color: #000000; /* Darker green on hover */
  }
  .fixed-top {
    position: fixed !important;
    width: 100%;
    top: 0;
    z-index: 1000; /* Adjust the z-index as needed */
  }
    

  #image{
    max-width: 20%;
  }